

a {
    text-decoration: none;
}

table td {
    outline: solid black 1px;
    background-color: #FFF;
}

table {
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
    background-color: #EEE;
}
